[submodule "external/unbound"]
	path = external/unbound
	url = https://git.wownero.com/wownero/unbound
	branch = monero
[submodule "external/miniupnp"]
	path = external/miniupnp
	url = https://git.wownero.com/wownero/miniupnp
	branch = monero
[submodule "external/rapidjson"]
	path = external/rapidjson
	url = https://github.com/Tencent/rapidjson
